* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-image: url(img/pexels-supibee-570047.jpg);
    background-size: cover;
}

.page {
    position: relative;
}


.container {
    background-color: rgba(65, 87, 70, 0.8);
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-weight: 500;
    font-size: 30px;
}

.container p {
    text-align: center;
    color: #b3c991;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 20px;
}

.login {
    display: flex;
    flex-direction: column;

}

.login input {
    background-color: rgba(65, 87, 70, 0.8);
    color: white;
    padding: 20px;
    border-radius: 7px;
    border: none;
    margin-bottom: 10px;
    caret-color: #63a756;
    font-size: 15px;
    font-weight: 600;

}

.login input::placeholder {
    font-weight: 400;
    color: #a0b1a0;
}

.login input:focus {
    outline: none;
}

.login input:nth-child(2){
    margin-bottom: 5px;
}

.login a {
    text-decoration: none;
    font-size: 14px;
    color: #b3c991;
}

.login .click {
    padding: 15px;
    margin-top: 30px;
    color: white;
    background-color: #63a756;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
}